    <% layout("/layouts/boilerplate") %>
 
    <form action="/listings" method="POST" novalidate class=" needs-validation" enctype="multipart/form-data" >
        <h3>Create a New Listing</h3>
        <div class="mb-3 col-md-8">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="enter your title" class="form-control" required>
            <div class="valid-feedback">Ttitle looks good!</div>
        </div>
       

       <div class="mb-3 col-md-8">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" class="form-control" required>
        <div class="invalid-feedback">Please enter a short Description!</div>
       </div>

       <div class="mb-3 col-md-8">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" name="listing[image]" placeholder=" your image URL/link" class="form-control" >
       </div>

        <div class="row">

            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback"></div>
            </div>
            
            <div class="mb-3 col-md-4" >
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid price!</div>
        </div>
       
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    
    
